bitmath==1.3.1.2
docopt==0.6.2
google-api-python-client==1.5.5
mysqlclient==1.3.9
smyte_pylib==0.2.1

-e git+https://github.com/tebeka/fastavro.git@644837ddec82ed883d0e7f655c87a2e3ba1376b4#egg=fastavro
-e git+https://github.com/smyte-forks/confluent-kafka-python.git@0f993ee0f190473cdcdde97e236016b8bc45834d#egg=confluent-kafka-python
